<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NinjaEntities" connectionString="metadata=res://*/NinjaEntities.csdl|res://*/NinjaEntities.ssdl|res://*/NinjaEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\ninja;initial catalog=Ninja;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>